@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.textColor{
    color: #DB0B5F;
}
.Headtext{
    border-bottom: 4px solid orange;
}
.pakageSection button{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.pakageSection button:hover{
    color: black;
    background: cyan;
}
.hotBtn{
    position: relative;
}
.hotBtnChild{
    position: absolute;
    top:0;
    right: 0;
   
}
.btnPakage{
    border-radius: 10%;
}
