@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


/* common utilities  */
.Headtext{
    border-bottom: 4px solid orange;
}

/* offering pakage section css  */
.pakageSection{
    border-radius: 15px;
}
.pakageSection button{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.pakageSection button:hover{
    color: black;
    background: cyan;
}
.hotBtn{
    position: relative;
}
.hotBtnChild{
    position: absolute;
    top:0;
    right: 0;
   
}
.btnPakage{
    border-radius: 10%;
}

/* couster feedback section here  */
.feedBackCard{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.feedBackCard:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 1s;
}


/* thanks for reading this code  */